#container {
    flex-direction: column;
    width: 400px;
    height: max-content;
    background-color: #a09797;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;

}

#addTaskButton {
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border: solid 1px #4CAF50;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#addTaskButton:hover {
    background-color: #17e417;
}

#textInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}